.category-li{
    border-bottom: 1px solid transparent;
    transition: all ease-in .3s;
}

.category-li:hover{
    border-bottom: 1px solid var(--color-orange);
}

.category-li ul{
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
    cursor: pointer;
}

.category-li:hover ul{
    opacity: 1;
    visibility: visible;
}

.collapse-title, :where(.collapse > input[type="checkbox"]), :where(.collapse > input[type="radio"]) {
    width: 100%;
    padding-right: 0rem;
    min-height: 0;
    transition: background-color 0.2s ease-out;

    @apply p-1 py-2
}

.collapse-title::after{
    top: 0 !important;
}
